* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuentes Utilizadas*/
@font-face {
  font-family: "montserrat";
  src: url("../assets/Montserrat-Light.ttf");
}

@font-face {
  font-family: "indie";
  src: url("../assets/IndieFlower-Regular.ttf");
}

@font-face {
  font-family: "montserrat_gruesa";
  src: url("../assets/Montserrat-ExtraBold.ttf");
}

/*hover y paginas visitadas*/

a:link,
a:visited,
a:active {
  color: black;
  text-decoration: none;
  font-family: "montserrat";
}
a:hover {
  text-decoration: underline;
  color: brown;
}

button {
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  padding: 10px;
}

button:hover {
  background-color: black;
  color: whitesmoke;
}

/* animacion de imagen zoom*/
.zoom__img {
  display: block;
  -webkit-transition: -webkit-transform 1s ease-out;
  -moz-transition: -moz-transform 1s ease-out;
  -o-transition: -o-transform 1s ease-out;
  -ms-transition: -ms-transform 1s ease-out;
  transition: transform 1s ease-out;
}
.zoom__img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* Estilo de formulario de contacto*/
html,
body,
.intro {
  height: 100%;
}

.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.centrar__texto{
  text-align:center;
}

.carousel-inner img {
  margin: auto;
}

/*estilo mapas*/

.map-container-5{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container-5 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }
/*estilos de producto*/
.productos__alinear {
  padding-top: 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.centrar {
  display: flex;
  justify-content: center;
}

.distribuir {
  justify-content: space-around;
}

.container1 {
  display: flex;
  width: 100%;
}

.column-1 {
  flex-shrink: 0; 
  flex-basis: 70%;
}

.box {
  padding: 10px;
  margin: 1rem;
}

.centrar__imagen{
  display: block;
  margin: auto;
}

.alinear__vertical{
  padding-top: 10%;
}
@media only screen and (max-width: 900px) {
  .container1 {
    flex-direction: column;
  }

  .box {
    margin: 0 0 1rem;
  }
}

/*MEDIA QUERIES*/
/*celulares 576px*/
