@font-face {
    font-family: bebasneue;
    src: url("../assets/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: montserrat;
    src: url("../assets/Montserrat-Light.ttf");
}

@font-face {
    font-family: lobster;
    src: url("../assets/Lobster\ 1.4.otf");
}


$tipografia-principal: lobster;
$tamano-tipo1: 2.1rem;
$color-tipo1-fondo: #E9BBB5;
$tipografia-secundaria: montserrat;
$tamano-tipo2: 1.3rem;
$color-tipo2-fondo: #AAD9CD;
$color-nav-fondo: #E7CBA9;
$tipografia-texto: bebasneue;
$tamano-texto: 1.5rem;
$color-texto-fondo: #FBECDB;
