@font-face {
  font-family: titulo1;
  src: url("../assets/CRC55.otf");
}
@import 'fuentes.scss';

body {
  background-color: whitesmoke;

  .clase-titulo {
    h1 {
      font-size: $tamano-tipo1;
      color: whitesmoke;
      line-height: 3rem;
      text-align: center;
      font-family: $tipografia-principal;
      background-color: $color-tipo1-fondo;
    }
    h2 {
      font-size: $tamano-tipo2;
      color: whitesmoke;
      line-height: 2rem;
      text-align: center;
      font-family: $tipografia-secundaria;
      background-color: $color-tipo2-fondo;
    }
  }
}

.nav-fondo{
background-color: $color-nav-fondo;
}

.texto-productos {
  font-family: $tipografia-texto;
  font-size:$tamano-texto;
  background-color: $color-texto-fondo;
}

.tamano-imagen {
  width: 100%;
}

/*media queries*/
/*para monitores de mas de 1200px*/

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .tamano-imagen {
    width: 30%;
    display: block;
    align-items: center;
    margin: auto;
  }
}
