@font-face {
  font-family: titulo1;
  src: url("../assets/CRC55.otf");
}
@import 'fuentes.scss';
@import 'colores.scss';

body {
  background-color: whitesmoke;

  .clase-titulo {
    h1 {
      font-size: $tamano-tipo1;
      color: whitesmoke;
      line-height: 3rem;
      text-align: center;
      font-family: $tipografia-principal;
      background-color: $color-tipo1-fondo;
    }
    h2 {
      font-size: $tamano-tipo2;
      color: whitesmoke;
      line-height: 2rem;
      text-align: center;
      font-family: $tipografia-secundaria;
      background-color: $color-tipo2-fondo;
    }
  }
}

.nav-fondo{
background-color: $color-nav-fondo;
}

.color-texto{
  color: $color-nav-fondo;
}

.texto-productos {
  font-family: $tipografia-texto;
  font-size:$tamano-texto;
  background-color: $color-texto-fondo;
}

.texto-productos2 {
  font-family: $tipografia-texto;
  font-size:$tamano-texto;
  background-color: #A37E7E;
}

.tamano-imagen {
  width: 100%;
}

.cta-inicio{
  font-family: $tipografia-principal;
  font-size: 3.5rem;
  color: $color-nav-fondo;
}

.color-footer{
background-color: $color-fondo;  
}

.limpiar-fondo{
  background-color: white;
}

.color-footer-texto{
  color: white;
}

.botones-carrusel{
  height: 20px;
  width: 20px;
  margin-top: 32%;
  margin-left: 32%;
  margin-right: 32%;
  background-color: $color-nav-fondo;
}


@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .tamano-imagen {
    width: 30%;
    display: block;
    align-items: center;
    margin: auto;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px){
  .cta-inicio{
    font-family: $tipografia-principal;
    font-size: 2.7rem;
    color: $color-nav-fondo;
  }
  .botones-carrusel{
    height: 20px;
    width: 20px;
    margin-top: 100%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: $color-nav-fondo;
  }
}
