@font-face {
  font-family: titulo1;
  src: url("../assets/CRC55.otf");
}
@import 'fuentes.scss';
@import 'colores.scss';
@import 'contacto.scss';

body {
  background-color: whitesmoke;

  .clase-titulo {
    h1 {
      font-size: $tamano-tipo1;
      color: whitesmoke;
      line-height: 3rem;
      text-align: center;
      font-family: $tipografia-principal;
      background-color: $color-tipo1-fondo;
    }
    h2 {
      font-size: $tamano-tipo2;
      color: whitesmoke;
      line-height: 2rem;
      text-align: center;
      font-family: $tipografia-secundaria;
      background-color: $color-tipo2-fondo;
    }
  }
}

.nav-fondo{
background-color: $color-nav-fondo !important;
}

.fondo-quienes-somos1{
  background: rgb(233,187,181);
  background: linear-gradient(180deg, rgba(233,187,181,0.45704219187675066) 0%, rgba(255,255,255,0.49625787815126055) 100%);
}

.fondo-quienes-somos2{
  background: rgb(170,217,205);
  background: linear-gradient(180deg, rgba(170,217,205,0.5452774859943977) 0%, rgba(255,255,255,0.49625787815126055) 100%);
}

.fondo-quienes-somos3{
  background: rgb(212,192,153);
  background: linear-gradient(180deg, rgba(212,192,153,0.5452774859943977) 0%, rgba(255,255,255,0.49625787815126055) 100%);
}

.boton-buscar{
  color: $color-nav-fondo;
  background-color: white;
  border: $color-nav-fondo;
  border-width: 1px;
  font-weight: bold;
  font-family: $tipografia-secundaria;
}

.boton-cta{
    color: white;
    background-color: $color-nav-fondo;
    border: $color-nav-fondo;
    border-width: 1px;
    font-weight: bold;
    font-family: $tipografia-secundaria;
    width: 200px;
    height: 50px;
}

.color-texto{
  color: $color-nav-fondo;
}

.color-texto-acordeon{
  font-family: $tipografia-acordeon;
  font-size: $tamano-tipo3;
  color: $color-texto-acordeon;
  }

.texto-productos {
  font-family: $tipografia-texto;
  font-size:$tamano-texto;
  background-color: $color-texto-fondo;
}

.texto-productos2 {
  font-family: $tipografia-texto;
  font-size:$tamano-texto;
  background-color: #A37E7E;
}

.texto-nav{
  font-family: $tipografia-secundaria;
  font-size: 1.2rem;
  color: $color-claro;
}

.tamano-imagen {
  width: 100%;
}
.tamano-imagen2{
  @extend .tamano-imagen;
  float: left;
  background-color: none;
  width: 80%;
}

.cta-inicio{
  font-family: $tipografia-principal;
  font-size: 3.5rem;
  color: $color-nav-fondo;
}

.color-footer{
background-color: $color-fondo;
color: $color-claro;  
}

.limpiar-fondo{
  background-color: white;
}

.color-footer-texto{
  color: $color-claro
}

.botones-carrusel{
  height: 20px;
  width: 20px;
  margin-top: 32%;
  margin-left: 32%;
  margin-right: 32%;
  background-color: $color-nav-fondo;
}

.fondo-contacto{
  background-image: url("");
  background-repeat: none;
  
}

/*Aplicando mixins*/
@mixin borde($color-tipo1-fondo, $width: 2px) {  
  color: $color-texto-acordeon;  
  border: $width solid $color-tipo1-fondo;  
  border-radius: 5px;  
}  
.redondeo  {  
  @include borde($color-tipo1-fondo, $width: 2px);  
}

/*uso de extend*/
.main_class {
  background-color: $color-tipo1-fondo;
  border: none;
  box-shadow: 5px 5px 0 $color-fondo;
  padding: 15px;
  }
  .class2 {
  @extend .main_class;
  background-color: $color-tipo2-fondo;
  color: $color-claro;
  border-radius: 10px;
  font-family: $tipografia-texto;
  letter-spacing: 0.2rem;
  padding: 0.2rem;
  box-shadow: none;
  }
  .class2:hover{
  @extend .class2;
  background-color: $color-tipo1-fondo;
  }

  .class3{
    @extend .main_class;
    border-radius: 2px;
    padding: 0%;
    box-shadow: none;
    color: $color-texto-fondo;
  }
  .class4{
    @extend .class3;
    font-size: 1rem;
    color: white;
    border-radius: 0.2rem;
    padding: 0.5rem;
    font-weight: lighter;
    background-color: $color-nav-fondo;
    font-family: $tipografia-texto;
  }

  .class5{
    @extend .class3;
    padding: 0.5rem;
    background-color: $color-tipo1-fondo;
    border: none;
    color: white;
    font-family: $tipografia-texto;
  }

  

/*media Queries*/

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .tamano-imagen {
    width: 30%;
    display: block;
    align-items: center;
    margin: auto;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px){
  .cta-inicio{
    font-family: $tipografia-principal;
    font-size: 2.7rem;
    color: $color-nav-fondo;
  }
  .botones-carrusel{
    height: 20px;
    width: 20px;
    margin-top: 100%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: $color-nav-fondo;
  }
}
